body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.bg-ijo {
    background-color: #11998E;
}

.bg-ijo1 {
    background-color: #38ef7d;
}

.bg-gradient {
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-gradient1 {
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main {
    margin-top: 100px;
}